.features {
    &__box {
        color: $color-gray-dark-1;
        position: relative;
        border-radius: 2px;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__box::before {
        content: ''; 
        color: $color-gray-light-1;
        position: absolute;
        top: 0;
        left: 0; 
        height: 100%; 
        width: 3px;
        background-color: $color-primary;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__box:hover {
        color: $color-gray-light-1;
    }

    &__box:hover::before,
    &__box--active::before {
        transform: scaleY(1);
        width: 100%; 
    }

    &__box:active::before {
        background-color: $color-primary-light-1;
    }

    &__header{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2rem;
        display: block; 
        padding: 1rem 2rem; 
        position: relative;
        z-index: 10; 
    }

    &__paragraph{
        font-size: $default-font-size;
        display: block; 
        position: relative;
        z-index: 11; 
    }
}

.newsfeed {
    padding: 30rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light-1, 0.8),
        rgba($color-primary-dark-2, 0.8)),
    url(./imgs/newsfeed.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: 16rem; 

    & > * {
        transform: skewY(7deg);
    }
}

.top-users {
    padding: 30rem 0; 
}